<!doctype html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>上部ナビゲーション型</title>
    <link rel="stylesheet" href="css/topNavigation.css">
</head>
<body>
<div class="admin_body">
    <div class="content_admin">
    <h1 class="text-center">ホストになろう</h1>
    <%= link_to "新規物件登録", new_house_path,class:"dropdown-item"  %>
</div>
</div>
</body>