<% if @houses.count==0 %>
  <div style="height: 450px">
    <p class="text-center my-5">検索に該当する物件は登録されていません。</p>
  </div>
<% elsif %>
<%= render :partial => "house_list", :locals => { houses: @houses }  %>
  <%= paginate @houses  %>
<% end %>









