<div>
<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <div class="app_title col-xs-12 col-md-8 col-lg-6">
      <h1 class="site-name"><span class="text">シェアハウス</span><span class="text">検索サイト</span></h1>
    </div>
  <%= render 'houses/search_form' %>
  </div>

</div>

  <%= render 'houses/search_box' %>


</div>