<div>
<div class="jumbotron jumbotron-extend">
    <div class="container-fluid jumbotron-container">
        <h1 class="site-name">Cemal Can Dinça</h1>
        <p><a class="btn btn-black" href="#" role="button">CONTACT ME</a></p>
    </div>

</div>
  <div class="top_content background-size:contain;" >
  
 
  </div> 



  <%= render 'houses/search_box' %>


</div>