<div>
  <div class="jumbotron jumbotron-extend">
    <div class="container-fluid jumbotron-container">
      <div class="app_title col-xs-12 col-md-8 col-lg-6">
        <p class="ml-5 mb-0 pt-3"><span class="text">自分らしく暮らせる、</span><span class="text">シェアハウスを見つけよう！</span></p>
        <h1 class="site-name "><span class="text">TOKYO</span><span class="text">シェア不動産</span></h1>
      </div>
      <%= render 'houses/search_form' %>
    </div>
  </div>
  <div class="ml-5 ">
    <%= render 'houses/search_box' %>
  </div>
</div>