<%# ユーザー情報パート%>
<%= render 'user_info' %>
<%# 口コミ物件一覧パート %>
<% if @comments.empty? %>
  <p class="no-item">口コミした物件はありません。</p>
<% else %> 
  <%= render :partial => "houses/house_list", :locals => { houses: @comments }  %>
   <%= paginate @comments  %>
<% end %>

