/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";



body{
  height: 100%;
   margin: 0px;
   padding: 0px;
   position: relative;
}

// リンク色消す
.Editlink {
  text-decoration: none;

  color: #272343;

  &:link {
    text-decoration: none;
    color: #272343;
  }

  &:visited {
    text-decoration: none;
    color: #272343;
  }

  &:hover {
    text-decoration: none;
    color: #272343;
  }

  &:active {
    text-decoration: none;
    color: #272343;
  }

}


// ユーザーアイコン
.icon {
  object-fit: cover;
  border-radius: 80%;
}

// 物件詳細ページ
table {
  margin: 2px auto;
}
.not_clip_btn{
 border-color:#0099ff;
 color:#0099ff;
     &:hover {
        border-color:#0099ff;
        color:#0099ff;
     }

     &:active {
       border-color:#0099ff;
       color:#0099ff;
     }
}
.clip_btn {
  background-color: #0099ff;
  color:#ffffff;

  &:hover {
   background-color: #0099ff;
   color:#ffffff;
  }

  &:active {
     background-color: #0099ff;
     color:#ffffff;
  }
}

.btn-experience {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}
.facility{
  color: #0099ff;

}
.no-facility{
 color:#d3d3d3;
  
}
.facility-card{
   margin: 2px auto;
}


 .no-image{
   height: 300px;

}

.wrapper {
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
  padding-bottom: 120px;
  /*←footerの高さ*/
  box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/
}

footer {
  width: 100%;
  color:black;
  text-align: center;
  padding: 40px 0;
  margin-top: 0;
  position: absolute;
  /*←絶対位置*/
  bottom: 0;
  /*下に固定*/
}

// フラッシュ

.alert-notice {
  @extend .alert-info;
  margin-bottom: 0;
}

.alert-alert {
  @extend .alert-danger;
}
// バリテーションエラーの際にフォームを改行しない
div.field_with_errors{
  display: contents;
  input {
    border: 2px solid red;
  }
}

.errors{
  list-style: none;
}




// topページ
.jumbotron-extend {
  height: 80vh;
  min-height: 350px;
  margin-bottom: 60px;
  background-image: image-url("top_image.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
}

.site-name{
    margin: 0;
    padding-top:10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    
}
.app_title {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #ffffff;
  opacity: 0.7;
}


.text {
  display: inline-block;
}


.form{
  height: 100px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #ffffff;

}
// ヘッダー
.navbar-brand{
  color:#0099ff;
}
.search_btn{

 background-color: #0099ff;
 border-color: #0099ff;
 color: #FFF;
 border-radius: 10%;


  &:hover {
  background-color: #7FCCFF;
  border-color: #7FCCFF;
  color: #FFF;
  }

  &:active {
   background-color: #7FCCFF;
   border-color: #7FCCFF;
   
  }

}
// ドロップダウン
.dropdown-toggle{
  border-radius: 25px;
  border-style: solid;
  border-color: #d3d3d3
}
.dropdown-menu{
  background-color: #d3d3d3;
  padding-top:0;
  padding-bottom:0;
}

.nav-item li{

 display: inline-block;
}
.navbar-nav{
  margin-left: auto;
}



// 口コミフォーム
.comment_submit{
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
}
.no-item{
  height: 500px;
  vertical-align: middle;
  text-align: center;
}

// 口コミ一覧ページ
.graph {
  position: relative;
  /* IE is dumb */
  width: 150px;
  height: 5px;
  padding: 0;
  background:lightgrey;
  border-radius: 10px;
  margin-top: px;
  

}

.graph .bar {
  display: block;
  position: relative;
  background: black;
  text-align: center;
  color: #f0ffff;
  height: 5px;
  line-height: 2em;
  border-radius: 10px;

}

.graph .bar span {
  position: absolute;
  left: 1em;
}
.review_item{
  display: inline-block;
  width: 7em;
  text-align: left;
}
.review-container{
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
}
.comment_btn {
  border-color: #FFA500;
  color: #FFA500;


  &:hover {
    border-color: #FFA500;
    color: #FFA500;
  }

  &:active {
    border-color: #FFA500;
    color: #FFA500;
  }

}

// 物件投稿フォーム
.room_delete_btn{
  display: none;
}

// 部屋情報一覧
.white_blue_btn {
  border-color: #0099ff;
  color: #0099ff;


  &:hover {
    border-color: #0099ff;
    color: #0099ff;
  }

  &:active {
    border-color: #0099ff;
    color: #0099ff;
  }

}
.room_no_image{
  width:100px;
  height: 100px;
}

// ログイン画面

.card-container.card {
  max-width: 500px;
  padding: 40px 40px;
}

.btn-signin {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/*
 * Card component
 */
.login_card {

  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 20px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: #7FCCFF;
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color:#0099ff;
}


.jumbotron-extend-login {
  min-height: 100vh;
  margin-bottom:0;
  background-image: image-url("top_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color:rgba(255, 255, 255, 0.3);
  background-blend-mode:lighten;
}

.jumbotron-containe-login {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
}

// 新規登録フォーム
.field{
  margin: 20px;
}
.sign_up_title{
  font-weight: 700;
}

// 物件投稿フォーム
.radio_btn{
  display: inline-block;
}


//  物件一覧ページ
 .house_title{
  color:#0099ff;
  font-weight: 700;
  font-size: large;
 }
.house_image{
 max-height: 200px;

}
.bottom_content{
  max-width: 50%;
  margin: 0 auto;
}