/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";



body{
  height: 100%;
   margin: 0px;
   padding: 0px;
   position: relative;
}

// リンク色消す
.Editlink {
  text-decoration: none;

  color: #272343;

  &:link {
    text-decoration: none;
    color: #272343;
  }

  &:visited {
    text-decoration: none;
    color: #272343;
  }

  &:hover {
    text-decoration: none;
    color: #272343;
  }

  &:active {
    text-decoration: none;
    color: #272343;
  }

}

// マイページ
.top_content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.left_content {
  flex: 1;
  // background-color: #eee;
  
  
}

.right_content {
  text-align: center;
  // background-color: #888;
  width: 60%;
  margin-right: 0;

  .btn {
    list-style: none;
    display: inline-block;
    margin-top: 0;
    text-decoration: none;
    margin-right: 5px;

  }

}

// マイページ下
.bottom_content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.left {
  flex: 1;
  // background-color: #eee;

}

.right {
  background-color: #888;
  width: 25%;
}



// ユーザーアイコン
.icon {
  object-fit: cover;
  border-radius: 80%;
}

// 物件詳細ページ
table {
  margin: 2px auto;
}
.not_clip_btn{
 border-color:#0099ff;
 color:#0099ff;
     &:hover {
        border-color:#0099ff;
        color:#0099ff;
     }

     &:active {
       border-color:#0099ff;
       color:#0099ff;
     }
}
.clip_btn {
  background-color: #0099ff;
  color:#ffffff;

  &:hover {
   background-color: #0099ff;
   color:#ffffff;
  }

  &:active {
     background-color: #0099ff;
     color:#ffffff;
  }
}
.comment_btn{
   border-color:#FFA500;
   color:#FFA500;


   &:hover {
   border-color:#FFA500;
   color:#FFA500;
   }

   &:active {
   border-color: #FFA500;
   color:#FFA500;
   }
        
}
.btn-experience {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}
.facility{
  color: #0099ff;

}
.no-facility{
 color:#d3d3d3;
  
}
.facility-card{
   margin: 2px auto;
}



// フッター
footer {
  height: 100px;
  width: 100%;
  padding-bottom: 100px;
  margin-top: 10px;

}

// フラッシュ

.alert-notice {
  @extend .alert-info;
  margin-bottom: 0;
}

.alert-alert {
  @extend .alert-danger;
}
// バリテーションエラーの際にフォームを改行しない
div.field_with_errors{
  display: contents;
  input {
    border: 2px solid red;
  }
}

.errors{
  list-style: none;
}




// topページ
.jumbotron-extend {
  height: 80vh;
  min-height: 350px;
  margin-bottom: 60px;
  background-image: image-url("top_image.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
 background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
}

.site-name{
    margin: 0;
    padding: 0;
    padding: 40px;
    
}
.app_title {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #ffffff;
  opacity: 0.7;
}


.text {
  display: inline-block;
}


.form{
  height: 100px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #ffffff;

}

// ドロップダウン
.dropdown-toggle{
  border-radius: 25px;
  border-style: solid;
  border-color: #d3d3d3
}
.dropdown-menu{
  background-color: #d3d3d3;
  padding-top:0;
  padding-bottom:0;
}

.nav-item li{

 display: inline-block;
}
.navbar-nav{
  margin-left: auto;
}
// 口コミフォーム
.comment_submit{
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
}
.no-comment{
  height: 500px;
  vertical-align: middle;
  text-align: center;
}

// 口コミ一覧ページ
.graph {
  position: relative;
  /* IE is dumb */
  width: 150px;
  height: 5px;
  padding: 0;
  background:lightgrey;
  border-radius: 10px;
  margin-top: px;
  

}

.graph .bar {
  display: block;
  position: relative;
  background: black;
  text-align: center;
  color: #f0ffff;
  height: 5px;
  line-height: 2em;
  border-radius: 10px;

}

.graph .bar span {
  position: absolute;
  left: 1em;
}
.review_item{
  display: inline-block;
  width: 7em;
  text-align: left;
}
.review-container{
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
}
