/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";



body{
  height: 100%;
   margin: 0px;
   padding: 0px;
   position: relative;
}

// リンク色消す
.Editlink {
  text-decoration: none;

  color: #272343;

  &:link {
    text-decoration: none;
    color: #272343;
  }

  &:visited {
    text-decoration: none;
    color: #272343;
  }

  &:hover {
    text-decoration: none;
    color: #272343;
  }

  &:active {
    text-decoration: none;
    color: #272343;
  }

}

// マイページ
.top_content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.left_content {
  flex: 1;
  // background-color: #eee;
  
  
}

.right_content {
  text-align: center;
  // background-color: #888;
  width: 60%;
  margin-right: 0;

  .btn {
    list-style: none;
    display: inline-block;
    margin-top: 0;
    text-decoration: none;
    margin-right: 5px;

  }

}

// マイページ下
.bottom_content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.left {
  flex: 1;
  // background-color: #eee;

}

.right {
  background-color: #888;
  width: 25%;
}



// ユーザーアイコン
.icon {
  object-fit: cover;
  border-radius: 80%;
}

// 物件詳細ページ
table {
  margin: 2px auto;
}

// フッター
footer {
  height: 100px;
  width: 100%;
  padding-bottom: 100px;
  margin-top: 10px;

}

// フラッシュ

.alert-notice {
  @extend .alert-info;
  margin-bottom: 0;
}

.alert-alert {
  @extend .alert-danger;
}