<footer class="footer bg-light ">
<div class="container-fluid">
  <div class="row">
    <h5 class="col-6 align-text-bottom text-left "><img src="/assets/tokyo.png" style="width:50px; height:50px; ">TOKYO シェア不動産</h5>
    <p class="col-6 align-text-bottom text-right my-2 ">Copyright ©︎ nozomi_nakamitsu All Rights Reserved.</p>
  </div>
</div>
</footer>