<footer class="footer bg-light ">
<div class="container-fluid">
  <div class="row">
    <h5 class="col-6 align-text-bottom text-left ">シェアハウス検索サイト</h5>
    <p class="col-6 align-text-bottom text-right  ">Copyright ©︎ nozomi_nakamitsu All Rights Reserved.</p>
  </div>
</div>
</footer>